// type

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700)
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i)
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700)
@import url(https://fonts.googleapis.com/css?family=VT323)



//
// $serif: 'Libre Baskerville', serif
// $serif_display: 'Playfair Display', serif
// $sans-serif_small: 'Inconsolata', sans-serif
// $sans-serif: 'Roboto', sans-serif
//
$font_size_big: 20px
$font_size_regular: 13px
$font_size_small: 11px

$regular_line_height: 22px

=systemType
  font-family: 'Quicksand', sans-serif
  font-weight: 700
  text-transform: uppercase
  font-size: 13px
  letter-spacing: 3px
  color: $ink_black
=consoleHeader
  font-family: 'VT323', monospace
  text-transform: uppercase
  font-size: 27px
  letter-spacing: 2px
  color: white

=showyType
  font-family: 'Playfair Display', sans-serif
  font-size: 43px
  font-weight: 700
  font-style: italic
  letter-spacing: 1px
  color: $ink_black
=defaultType
  font-family: 'Inconsolata', monospace
  font-size: $font_size_regular
  letter-spacing: 1px
  color: $black
