// type

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i)
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i)
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700)
@import url(https://fonts.googleapis.com/css?family=VT323)



//
// $serif: 'Libre Baskerville', serif
// $serif_display: 'Playfair Display', serif
// $sans-serif_small: 'Inconsolata', sans-serif
// $sans-serif: 'Roboto', sans-serif
//
$font_size_big: 20px
$font_size_regular: 16px
$font_size_small: 11px

$regular_line_height: 22px

=systemType
  font-family: 'Quicksand', sans-serif
  text-transform: uppercase
  font-size: 13px
  line-height: 15px
  letter-spacing: 3px
  color: $ink_black

=consoleType($type)
  font-family: 'VT323', monospace
  letter-spacing: 2px
  color: white
  @if $type == big
    font-size: 27px
    line-height: 28px
  @if $type == normal
    font-size: 20px
    line-height: 22px


=headerType($type)
  font-family: 'Playfair Display', serif
  font-weight: 700
  font-style: italic
  letter-spacing: 2px
  color: white
  @if $type == big
    font-size: 50px
    line-height: 55px
    font-weight: 900
    letter-spacing: 4px
  @if $type == normal
    font-size: 43px
    letter-spacing: 3px
    line-height: 40px
  @if $type == small
    font-size: 15px
    line-height: 20px
    font-weight: 400
  @if $type == h2
    font-size: 37px
    font-weight: 900
    line-height: 40px
    letter-spacing: 2px



=defaultType($type)
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400
  letter-spacing: 1px
  color: $black
  @if $type == normal
    font-size: 16px
    line-height: 25px
    +screen(mobile)
      font-size: 15px
